.resultBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .title {
    color: #1c2f3d;
    font-size: 22px;
    font-weight: 600;
  }

  .resultWrapper {
    display: flex;
    gap: 5px 20px;
    flex-wrap: wrap;

    span {
      color: #1c2f3d;
      font-size: 26px;

      sub {
        color: inherit;
      }
    }
  }
}
