* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.15;
  color: #242424;
}

body {
  max-width: 1240px;
  min-width: 320px;
  margin: 0 auto;
  padding: 40px 20px 20px;
  background-color: #4444442e;
}

input,
a,
button {
  all: unset;
}

input {
  height: 30px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #646464;
  padding: 0 10px;
}
